@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import './variables';
@import './reset';
@import './mixins';

@import './components/hero';
@import './components/who';
@import './components/header';
@import './components/skills';
@import './components/contact';
@import './components/footer';

html {
    font-family: 'Nunito', sans-serif;
    background-color: $white;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1280px) {
    html { font-size: 14px; }
}
@media (max-width: 768px) {
    html { font-size: 12px; }
}

::-webkit-scrollbar-track { background: $white; }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: $grey; border-radius: 4px; }