@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

#hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero img {
  width: 35%;
  border-radius: 60px;
  margin: 0 6rem 0 0;
}

#hero h1 {
  color: #373d42;
  font-size: 2.8rem;
  margin: 0 8rem 0 8rem;
}

#hero h1 span {
  font-size: 5.8rem;
  color: #212529;
}

@media (max-width: 767px) {
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hero h1 {
    margin: 0;
    text-align: center;
  }
  #hero img {
    display: none;
  }
}

#who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#who > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4% 20%;
  background-color: #f8f9fa;
}

#who > div p {
  font-size: 1.8rem;
  margin: 3rem 0;
  line-height: 1.4em;
  color: #212529;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity .8s ease, -webkit-transform .8s ease;
  transition: opacity .8s ease, -webkit-transform .8s ease;
  transition: opacity .8s ease, transform .8s ease;
  transition: opacity .8s ease, transform .8s ease, -webkit-transform .8s ease;
}

#who > div p.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#who > div > div {
  font-size: 1.8rem;
  color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#who img {
  width: 50px;
  height: 50px;
  margin-bottom: -10px;
}

#who h2 {
  font-size: 2.8rem;
  color: #212529;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767px) {
  #who > div {
    padding: 4% 10%;
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}

header button {
  color: #ffff;
  padding: .3rem .4rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  background-color: #373d42;
  cursor: pointer;
  border: solid 2px #373d42;
  -webkit-transition: background-color .4s ease,color .4s ease;
  transition: background-color .4s ease,color .4s ease;
}

header button:hover {
  background-color: #ffff;
  color: #373d42;
}

@media (max-width: 767px) {
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  font-size: 1.4rem;
  margin: .75rem 1rem;
  color: #212529;
  text-decoration: none;
}

nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #212529;
  -webkit-transition: width .2s ease;
  transition: width .2s ease;
}

nav a:hover::after {
  width: 100%;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4% 8%;
}

#skills > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills > div > div {
  width: 400px;
  margin: 3%;
  border: medium solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity .8s ease, -webkit-transform .8s ease;
  transition: opacity .8s ease, -webkit-transform .8s ease;
  transition: opacity .8s ease, transform .8s ease;
  transition: opacity .8s ease, transform .8s ease, -webkit-transform .8s ease;
}

#skills > div > div:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#skills > div > div:nth-child(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#skills > div > div:nth-child(3) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#skills > div > div.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#skills > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills > div > div span {
  font-weight: bold;
}

#skills > div > div img {
  width: calc(50% + 2px);
  margin: -1px;
}

#skills h2 {
  font-size: 2.8rem;
  color: #212529;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#skills .ht {
  -o-border-image: linear-gradient(90deg, #E44F26 0%, #E44F26 50%, #1572B6 50%, #1572B6 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#E44F26), color-stop(50%, #E44F26), color-stop(50%, #1572B6), to(#1572B6)) 1;
     border-image: linear-gradient(90deg, #E44F26 0%, #E44F26 50%, #1572B6 50%, #1572B6 100%) 1;
}

#skills .ht span:nth-child(1) {
  color: #E44F26;
}

#skills .ht span:nth-child(2) {
  color: #1572B6;
}

#skills .js {
  -o-border-image: linear-gradient(90deg, #FBC02D 0%, #FBC02D 50%, #CC6699 50%, #CC6699 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#FBC02D), color-stop(50%, #FBC02D), color-stop(50%, #CC6699), to(#CC6699)) 1;
     border-image: linear-gradient(90deg, #FBC02D 0%, #FBC02D 50%, #CC6699 50%, #CC6699 100%) 1;
}

#skills .js span:nth-child(1) {
  color: #FBC02D;
}

#skills .js span:nth-child(2) {
  color: #CC6699;
}

#skills .ph {
  -o-border-image: linear-gradient(90deg, #8993BE 0%, #8993BE 50%, #539E43 50%, #539E43 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#8993BE), color-stop(50%, #8993BE), color-stop(50%, #539E43), to(#539E43)) 1;
     border-image: linear-gradient(90deg, #8993BE 0%, #8993BE 50%, #539E43 50%, #539E43 100%) 1;
}

#skills .ph span:nth-child(1) {
  color: #8993BE;
}

#skills .ph span:nth-child(2) {
  color: #539E43;
}

#skills p {
  font-size: 2rem;
  color: #212529;
  margin: 1.75rem;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4% 8%;
  background-color: #f8f9fa;
}

#contact > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact > div > div > div {
  margin: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity .8s ease, -webkit-transform .8s ease;
  transition: opacity .8s ease, -webkit-transform .8s ease;
  transition: opacity .8s ease, transform .8s ease;
  transition: opacity .8s ease, transform .8s ease, -webkit-transform .8s ease;
}

#contact > div > div > div:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#contact > div > div > div:nth-child(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#contact > div > div > div:nth-child(3) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#contact > div > div > div.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#contact > div > div > div > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 80% 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%, 80% 100%);
}

#contact > div > div > div > div:nth-child(1) img {
  width: 6rem;
  height: 6rem;
  margin-left: 1.2rem;
}

#contact > div > div > div > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10rem;
  padding: 0 2rem;
}

#contact > div > div > div h2 {
  font-size: 2rem;
  margin: .5rem 0;
  color: inherit;
}

#contact > div > div > div p, #contact > div > div > div a {
  word-break: break-all;
  font-size: 1.2rem;
  margin: .5rem 0;
  color: inherit;
}

#contact > div > h2 {
  font-size: 2.8rem;
  color: #212529;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#contact .discord {
  -webkit-box-shadow: inset 0px 0px 0px 2px #7289DA;
          box-shadow: inset 0px 0px 0px 2px #7289DA;
  color: #7289DA;
}

#contact .discord > div:nth-child(1) {
  background-color: #7289DA;
}

#contact .discord p {
  background-color: #f8f9fa;
  padding: 2px 4px;
  border-radius: 2px;
}

#contact .github {
  color: #161614;
  -webkit-box-shadow: inset 0px 0px 0px 2px #161614;
          box-shadow: inset 0px 0px 0px 2px #161614;
}

#contact .github > div:nth-child(1) {
  background-color: #161614;
}

#contact .email {
  color: #EA4335;
  -webkit-box-shadow: inset 0px 0px 0px 2px #EA4335;
          box-shadow: inset 0px 0px 0px 2px #EA4335;
}

#contact .email > div:nth-child(1) {
  background-color: #EA4335;
}

@media (max-width: 767px) {
  #contact > div > div > div {
    width: 90%;
  }
  #contact > div > div > div > div:nth-child(1) img {
    width: 5rem;
    height: 5rem;
    margin-left: 1.2rem;
  }
}

footer {
  width: 100%;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fa;
}

footer p {
  font-size: 1.2rem;
}

html {
  font-family: 'Nunito', sans-serif;
  background-color: #ffff;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

::-webkit-scrollbar-track {
  background: #ffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #373d42;
  border-radius: 4px;
}

header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#hero img {
  margin: 0 3.8rem;
  width: 30%;
  border-radius: 100%;
}

#hero h1 {
  margin: 0 2rem;
}

#who svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#who h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 2rem;
}

#skills {
  padding: 4%;
}

#skills > div > div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 450px;
  height: 220px;
}

#skills > div > div > div {
  height: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills > div > div img {
  width: 110px;
  margin: 0;
}

#skills .ht {
  -o-border-image: linear-gradient(180deg, #E44F26 0%, #E44F26 50%, #1572B6 50%, #1572B6 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#E44F26), color-stop(50%, #E44F26), color-stop(50%, #1572B6), to(#1572B6)) 1;
     border-image: linear-gradient(180deg, #E44F26 0%, #E44F26 50%, #1572B6 50%, #1572B6 100%) 1;
}

#skills .js {
  -o-border-image: linear-gradient(180deg, #FBC02D 0%, #FBC02D 50%, #CC6699 50%, #CC6699 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#FBC02D), color-stop(50%, #FBC02D), color-stop(50%, #CC6699), to(#CC6699)) 1;
     border-image: linear-gradient(180deg, #FBC02D 0%, #FBC02D 50%, #CC6699 50%, #CC6699 100%) 1;
}

#skills .ph {
  -o-border-image: linear-gradient(180deg, #8993BE 0%, #8993BE 50%, #539E43 50%, #539E43 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#8993BE), color-stop(50%, #8993BE), color-stop(50%, #539E43), to(#539E43)) 1;
     border-image: linear-gradient(180deg, #8993BE 0%, #8993BE 50%, #539E43 50%, #539E43 100%) 1;
}

#skills p {
  font-size: 1.8rem;
  margin: auto 1.4rem;
}

#contact svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#contact .discord {
  color: #ffff;
  background-color: #7289DA;
}

#contact .discord p {
  background-color: inherit;
  border: solid thin #f8f9fa;
  padding: 2px 4px;
  border-radius: 2px;
}

#contact .github {
  color: #ffff;
  background-color: #161614;
}

#contact .email {
  color: #ffff;
  background-color: #EA4335;
}
/*# sourceMappingURL=style_2.css.map */