<main id="about">
    <div>
        <h2>About</h2>
        <p>
            Hello, my name is Martin Saldinger.
            I am passionate about computer science, more precisely web development and pentesting.                  
        </p>
        <h2>Education</h2>
        <h3><b>PREMIERE GENERALE |</b> Notre Dame Institute – St Germain en Laye</h3>
        <h4>Main Subjects :</h4>
        <ul>
            <li>Mathematics</li>
            <li>Physics</li>
            <li>Computer Science</li>
        </ul>
        <h3><b>CAMBRIDGE FIRST certificate |</b> Notre Dame Institute – St Germain en Laye</h3>
        <ul>
            <li>Grade : A</li>
            <li>CEFR level : C1</li>
        </ul>
        <h2>Experience</h2>
        <h3><b>Internship |</b> SAP Levallois Perret</h3>
        <p>
            From January 28 to February 1, 2019<br>
            Discover the different departments of the company SAP, supplier of software solutions.
        </p>
        <h3>Website development</h3>
        <p>I created my own website : <a href="https://www.tamanoir.net">tamanoir.net</a></p>
    </div>
</main>