<main id="home">
    <div>
        <h1>
            Hello, I am<br>
            <span>Martin Saldinger</span><br>
            <span>web-dev</span> and <span>pentest</span> enthusiast
        </h1>
    </div>
    <div>
        <a href="" onclick="alert('username : Le Tamanoir#1772')"><img src="svg/discord.svg" alt=""></a>
        <a href="https://github.com/LeTamanoir" target="_blank"><img src="svg/github.svg" alt=""></a>
        <a href="https://tryhackme.com/p/tamanoir" target="_blank"><img src="svg/thm.svg" alt=""></a>
        <a href="https://app.hackthebox.eu/users/341555" target="_blank"><img src="svg/htb.svg" alt=""></a>
        <a href="https://www.root-me.org/Le_Tamanoir" target="_blank"><img src="svg/rootme.svg" alt=""></a>
        <a href="mailto: martin.saldinger@gmail.com" target="_blank"><img src="svg/email.svg" alt=""></a>
    </div>
</main>