<script defer src="js/main.js"></script>
<main>
    <div id="skills-container">
        <header>
            <button id="frontend-btn" onclick="showSkill('frontend')" class="click">Frontend</button>
            <button id="backend-btn" onclick="showSkill('backend')">Backend</button>
        </header>
        <div id="frontend" class="deploy">
            <ul>
                <li>
                    <img src="svg/html.svg" alt="logo html">
                    <p>I can developp any kind of showcase website that relies on an <b>HTML</b> basis.</p>
                </li>
                <li>
                    <img src="svg/css.svg" alt="logo css">
                    <p>I can add styling to a web-page along with effects and animations using <b>CSS</b>.</p>
                </li>
                <li>
                    <img src="svg/scss.svg" alt="logo scss">
                    <p>I use <b>SCSS</b> to style my web-pages more efficiently.</p>
                </li>
                <li>
                    <img src="svg/js.svg" alt="logo js">
                    <p>Using <b>JavaScript</b> I can make dynamic web-pages with good responsiveness and animations.</p>
                </li>
            </ul>
        </div>
        <div id="backend">
            <ul>
                <li>
                    <img src="svg/php.svg" alt="logo php">
                    <p>I can build a complete website with a <b>model-view-controller</b> (MVC).</p>
                </li>
                <li>
                    <img src="svg/nodejs.svg" alt="logo nodejs">
                    <p>I can developp any kind of <b>API</b> to use in a website</p>
                </li>
                <li>
                    <img src="svg/linux.svg" alt="logo linux">
                    <p>I have basic knowledge in linux, I can manage an <b>apache</b> server along with a <b>mysql</b> server</p>
                </li>
            </ul>
        </div>
    </div>
</main>