main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
footer {
    margin: auto 0 10px;
}
#home {
    div {
        margin: 4rem 0 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img {
            width: 5rem;
            margin: 1rem;
            transition: transform .3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    h1 {
        font-weight: 400;
        font-size: 2.2rem;
        margin-right: 2rem;
        span:nth-of-type(1) {
            line-height: 1.6em;
            font-weight: 500;
            font-size: 4.4rem;
        }
        span:not(:nth-of-type(1)) { 
            color: $white;
            border-radius: 5px;
            padding: 2px 8px;
            font-weight: 500;
            &:nth-of-type(2) {
                background-color: $blue;
            }
            &:nth-of-type(3) {
                background-color: $green;
            }
        }
    }
    @media (max-width: 768px) {
        h1 {
            text-align: center;
            margin-top: 6rem;
            font-size: 1.8rem;
            span:not(:nth-of-type(1)) {
                font-size: 1.8rem;
            }
        }
    }
}

#about {
    h2 {
        font-size: 2.2rem;
        font-weight: bold;
        position: relative;
        display: inline-block;
        margin: .5em;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100vw;
            height: 110%;
            z-index: -1;
            top: -5%;
            left: calc(-150vw);
            animation: enter 1s forwards;
        }
        &:nth-of-type(1)::before {
            animation-delay: 0s;
            background-color: $red;
        }
        &:nth-of-type(2)::before {
            animation-delay: .5s;
            background-color: $green;
        }
        &:nth-of-type(3)::before {
            animation-delay: 1s;
            background-color: $blue;
        }
    }
    h3 {
        padding-left: 1rem;
    }
    p {
        padding-left: 2rem;
    }
    h4 {
        padding-left: 2rem;
    }
    ul {
        padding-left: 3rem;
    }
    a {
        text-decoration: underline;
    }
    @media (max-width: 768px) {
        div {
            width: 90%;
            margin-bottom: 4rem;
        }
    }
}
@keyframes enter {
    from { left: calc(-150vw); }
    to { left: calc(-100vw + 105%); }
}
#skills-container {
    width: 60%;
    margin: 2rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    // border: solid 2px $black;
    @media (max-width: 768px) {
        width: 90%;
    }
    header {
        display: flex;
        justify-content: space-between;
        width: 50%;
        position: relative;
        &::before {
            content: "";
            width: 105vw;
            height: 2px;
            display: block;
            position: absolute;
            left: calc(-55vw + 50%);
            background-color: $black;
            top: 1.6rem;
            z-index: -1;
        }
        @media (max-width: 768px) {
            width: 80%;
        }
    }
    #frontend-btn, #backend-btn {
        background-color: $white;
        color: $black;
        font-size: 2rem;
        border: none;
        padding: .4rem .8rem;
        cursor: pointer;
        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
        &.click {
            border: solid 2px $black;
            border-radius: 50px;
        }
    }
    #frontend, #backend {
        display: none;
        width: 90%;
        margin: 20px;
        flex-direction: column;
        color: $black;
        &.deploy {
            display: flex;
        }
        ul {
            list-style: none;
            li {
                display: flex;
                align-items: center;
                &:not(:first-child) {
                    margin: 30px 0 0;
                }
                p {
                    font-size: 1.4rem;
                    margin: 0 0 0 2rem;
                }
                @media (max-width: 768px) {
                    p {
                        font-size: 1.4rem;
                    }
                }
                img {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
    }
}

#writeups {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    &:not(.full) {
        flex-direction: row;

        .writeup {
            cursor: pointer;
            margin: 10px;
            min-width: 16rem;
        }
    }
    .banner {
        display: block;
        margin: 0 20px 10px;
        width: 10rem;
        height: 10rem;
    }
    .writeup {
        padding: 10px;
        background-color: $light;
        border-radius: .4rem;
        box-sizing: border-box;
        position: relative;
        & > div {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }
        h2 {
            margin: .5rem .5rem 0;
            font-size: 1.8rem;
        }
        .tags {
            margin: .3rem .3rem 1rem;
            display: flex;
            span {
                padding: 2px 4px;
                font-size: 1.1rem;
                font-weight: 500;
                border: 1px solid;
                border-radius: 4px;
                margin: 6px;
            }
            span[tag="htb"] { color : #26861a; border-color: #26861a; }
            span[tag="thm"] { color : #6d2a2a; border-color: #6d2a2a; }
            span[tag="hard"] { color : #fd0100; border-color: #fd0100; }
            span[tag="insane"] { color : #757779; border-color: #757779; }
            span[tag="easy"] { color : #8dc63f; border-color : #8dc63f; }
            span[tag="custom"] { color : #3f79c6; border-color : #3f79c6; }
            span[tag="rootme"] { color: $black; border-color: $black; }
            span[tag="koth"] { color : #dc3545; border-color: #dc3545; }
            span[tag="script"] { color : #a52494; border-color: #a52494; }
        }
        .date {
            margin-left: auto;
            font-size: .8rem;
        }
    }
    .error {
        font-weight: bold;
        color: $red;
        font-size: 2rem;
    }
    
    &.full {
        flex-direction: column;

        .writeup {
            margin: 1.5rem;
            width: 90%;
        }
    }
}

#back_writeups,.error-btn {
    cursor: pointer;
    background-color: $blue;
    padding: 5px 12px;
    margin: 1rem 0 2rem;
    font-size: 1.4rem;
    color: $white;
    border: none;
    border-radius: 2rem;
    transition: background-color .2s ease;

    &.hide {
        display: none;
    }
    &:hover {
        background-color: #516fbd;
    }
}
#search_bar {
    background-color: $light;
    border: solid 2px $black;
    padding: 6px 10px;
    font-size: 1.2rem;
    margin: 1rem;
    border-radius: .6rem;
    transition: width .2s ease;
    outline: none;
    width: 10rem;

    &:focus {
        width: 20rem;
    }
    &.hide {
        display: none;
    }
}

#conn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light;
    border: solid 2px $black;
    border-radius: .6rem;

    p {
        font-size: 1.2rem;
        margin: 1rem;
    }

    .error {
        font-weight: bold;
        color: $red;
        font-size: 1.4rem;
        margin: .25rem;
    }

    input {
        background-color: $light;
        border: solid 2px $black;
        padding: 8px 12px;
        font-size: 1.4rem;
        margin: 1rem;
        border-radius: .6rem;
        transition: background-color .2s ease;
    }
    
    input[type=submit] {
        cursor: pointer;
        background-color: $blue;
        color: $white;
        border: none;
        border-radius: 2rem;
        &:hover {
            background-color: #516fbd;
        }
    }
}

#editor {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    select {
        background-color: $light;
        border: solid 2px $black;
        padding: 6px 10px;
        font-size: 1.2rem;
        border-radius: .2rem;
    }

    & > div:nth-child(2) {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60vh;
        & > * {
            border: solid 2px $black;
            outline: none !important;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            padding: 5px;
        }
        textarea {
            width: 50%;
            background-color: $light;
            height: 100%;
            resize: none;
        }
        & > div {
            width: 50%;
            height: 100%;
            background-color: $light;
            overflow-y: scroll;
        }
    }
    button {
        cursor: pointer;
        padding: 8px 12px;
        margin: .5rem;
        font-size: 1.4rem;
        color: $white;
        border: none;
        border-radius: 2rem;

        &#delete {
            background-color: $red;
        }
        &#update {
            background-color: $green;
        }
        &#send {
            background-color: $blue;
        }
    }
    & > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        button {
            background-color: $blue;
        }
        #manage-image-container {
            display: none;
            align-items: center;
            flex-direction: column;
            position: absolute;
            bottom: 20vh;
            left: 15vw;
            width: 70vw;
            height: auto;
            border: solid 2px $black;
            border-radius: 20px;
            background-color: #ffffff;

            button {
                background-color: $red;
            }

            #manage-image button {
                background-image: url('../svg/cross.svg');
                background-repeat: no-repeat;
                background-size: cover;
                padding: 0;
                margin: 0;
                width: 1.8rem;
                height: 1.8rem;
                margin-left: .6rem;
            }
            #manage-image {
                display: flex;
                flex-wrap: wrap;
            }
            #manage-image div {
                display: flex;
                align-items: center;
                background-color: #c0c0c0;
                padding: 6px 10px;
                border-radius: 10px;
                margin: .5rem;

                p {
                    margin: 0;
                }
            }
            &.visible {
                display: flex;
            }
        }
        #image-container {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 5vh;
            left: 5vw;
            width: 90vw;
            height: 90vh;
            border-radius: 20px;
            border: solid 2px $black;
            background-color: #ffffff;

            button {
                background-color: $blue;
                &:nth-of-type(3),&:nth-of-type(4) {
                    background-color: $red;
                }
            }

            #image-input {
                display: none;
            }
            div:nth-of-type(1) {
                width: 90vw;
                height: 80vh;
            }
            div:nth-of-type(2) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            label {
                border: 2px solid $black;
                border-radius: 20px;
                color: $black;
                display: block;
                padding: 6px 12px;
                cursor: pointer;
                margin: .5rem;
            }
            &.visible {
                display: flex;
            }
        }
    }
    & > div:nth-of-type(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #title,#banner,#password,#tags,#image-name {
        background-color: $light;
        border: solid 2px $black;
        padding: 6px 10px;
        font-size: 1.2rem;
        border-radius: .2rem;
    }
}