#skills {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 8%;
    & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > div {
            width: 400px;
            margin: 3%;
            border: medium solid;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transform: translateY(50px);
            transition: opacity .8s ease, transform .8s ease;
            &:nth-child(1) { transition-delay: 0s; }
            &:nth-child(2) { transition-delay: .2s; }
            &:nth-child(3) { transition-delay: .4s; }
            &.visible { opacity: 1; transform: translateY(0px); }
            & > div { display: flex; }
            span { font-weight: bold; }
            img { width: calc(50% + 2px); margin: -1px; }
        }
    }
    h2 {
        font-size: 2.8rem;
        color: $black;
        align-self: center;
    }
    .ht {
        border-image: linear-gradient(90deg, #E44F26 0%, #E44F26 50%, #1572B6 50%, #1572B6 100%) 1;
        span:nth-child(1) { color: #E44F26; }
        span:nth-child(2) { color: #1572B6; }
    }
    .js {
        border-image: linear-gradient(90deg, #FBC02D 0%, #FBC02D 50%, #CC6699 50%, #CC6699 100%) 1;
        span:nth-child(1) { color: #FBC02D; }
        span:nth-child(2) { color: #CC6699; }
    }
    .ph {
        border-image: linear-gradient(90deg, #8993BE 0%, #8993BE 50%, #539E43 50%, #539E43 100%) 1;
        span:nth-child(1) { color: #8993BE; }
        span:nth-child(2) { color: #539E43; }
    }
    p {
        font-size: 2rem;
        color: $black;
        margin: 1.75rem;
    }
}